@{
    ViewData["Title"] = "Brak dostępu";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container my-4">
    <h2>@ViewData["Title"]</h2>
    <p>Przepraszamy, ale nie masz uprawnień, aby uzyskać dostęp do tej strony.</p>
    <a href="javascript:history.back()" class="btn btn-primary">Wróć</a>
</div>
